/* MAIN STYLE */
body {
  font-family: 'Montserrat', sans-serif;
}
header {
  font-family: 'Righteous', cursive;
}
/* NAVIGATION */
nav {
  font-family: 'Montserrat', sans-serif;
}
.main-nav {
  font-family: 'Montserrat', sans-serif;
}
/* TYPOGRAPHY */
h1 {
  font-family: 'Righteous', cursive;
}